<div id='form-adjust' class="container">
  <div class="row">
      <h2 id="loginHeader">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-dark" id="login-form-button" type="submit">Login</button>
          <p id='noAccount' >Don't have an account yet?</p>
          <a id="signupInstead" href="/signup">Sign Up Instead</a>
        </div>
      </form>
  </div>
</div>

<script src="/js/login.js"></script>