:root {
    --offwhite: rgb(161, 161, 161);
    --seafoam: rgb(207, 222, 207);
}

*, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blog_title {
    display: inline-flex;
    text-decoration: none;
    color: var(--offwhite);
    font-size: 18px;
}

.post {
    border: 2px solid black;
    margin: 15px;
}

#content {
    margin: 10px;
    font-size: 14px;
}

#dateTime {
    display: inline-flex;
    color: var(--offwhite);
    font-size: 12px;
    padding-right: 10px;
    padding-bottom: 15px;
}

#blogHeader {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 10px 0px 0px 10px;
}

body {
    background-color: var(--seafoam);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    background-color: black;
}

.navbarEl {
    color: var(--seafoam);
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px 10px 10px 30px;
}

#title {
    background-color: var(--seafoam);
    font-size: 25px;
    margin-left: 30px;
    padding: 0px 5px;
    text-align: center;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 5px 5px var(--offwhite);
}

#login,
#logout {
    margin-left: 30px;
}

#loginHeader,
#signupHeader,
#newPostHeader {
    display: flex;
    min-height: 30px;
    background-color: black;
    font-size: 18px;
    align-items: center;
    color: var(--seafoam);
    padding-left: 1.7rem;
}

.container {
    margin: 15px 0px;
    border: 2px solid black;
    margin: 20px auto;
}

.container input {
    width: 95%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.form-input {
    padding-left: 5px;
}

#login-form-button,
#signup-form-button,
#create-post-button,
#comment-form-button {
    width: 95%;
    margin: 10px 0px 5px 0px;
}

#newPostBtn {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 30px;
}

#name {
    text-align: center;
}

#signupInstead,
#loginInstead {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-top: 100px;
}

#noAccount,
#hasAccount {
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
}

#form-adjust {
    margin-top: 5%;
}

#post-title {
    display: block;
}

#create-post-button {
    margin-bottom: 20px;
}

#new-post-content {
    height: 75px;
}

textarea {
    resize: none;
    width: 95%;
}

.hidden {
    display: none;
}

#yourPosts {
    background-color: black;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-left: 1.15rem;
    color: var(--seafoam);
    box-shadow: 5px 5px var(--offwhite);
}

.comment-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 75%;
}

#commentContent {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#commentHeader {
    padding-left: 10px;
    background-color: black;
}

#comment-link {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

#comment-link:hover {
    color: blue;
}